body, html {
    height: 100%;
    margin: 0;

}

body {
    background: black;
}

.switch {
    position: relative;
    top: 0; left: 97%; right: 0; bottom: 0;
    display: block;
    width: 45px;
    height: 22.5px;
    margin-bottom: 30px;
}
.slider {
position: absolute;
cursor: pointer;
top: 0; left: 0; right: 0; bottom: 0;
background: white;
transition: .5s;
border: 3px solid white;
box-shadow: 1px 1px 1px rgba(0,0,0, 0.1);
}

.slider:before {
    position:absolute;
    content: "";
    bottom: 14px;
    top: 4px;
    background-color: lightgray;
    transition: .5s;
}

.switch input { display: none; }

input:checked + .slider {
    background-color: black;
}

input:checked + .slider:before {
    transform: translateX(24px) rotateZ(60deg);
    background: red;
}

.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    width: 35%;
    height: 45%;
    border-top-left-radius: 45px;
    border-top-right-radius: 50px;
    transform: rotateZ(-45deg);
}


    h1 {
        position: absolute;
        top: 0; left: 47%; right: 0; bottom: 0;
        color: rgb(255, 1, 0)
}

    p {
      position: absolute;
        top: 7%; left: 49%; right: 0; bottom: 0;
    color: White

}

    .button {
        position: absolute;
          background-color: #ff0000;
          border: none;
          color: Black;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
            margin: 0;
            position: absolute;
            top: 18%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


    .button2 {
        position: absolute;
      background-color: #ff0000;
      border: none;
      color: Black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
        margin: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}